<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="home.css">
</head>
<body>
    <footer id="contact" class="footer">
        <p>Contact Us: support@campuscarpool.com</p>
        <div class="social-media-links">
            <a href="#facebook">Facebook</a>
            <a href="#twitter">Twitter</a>
            <a href="#instagram">Instagram</a>
        </div>
        <p>&copy; 2024 Campus Carpool Connect. All rights reserved.</p>
    </footer>
</body>
</html>