/* General Styles */
body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-color: #f0f0f0;
    color: #333;
}

a {
    text-decoration: none;
    color: inherit;
}

/* Navbar */
.navbar {
    background-color: #007bff;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-logo {
    font-size: 1.5em;
    color: white;
}

.navbar-links a {
    margin-left: 20px;
    color: white;
    font-size: 1em;
    text-decoration: none;
}

.navbar-links a:hover {
    text-decoration: underline;
}

/* Hero Section */
.hero-section {
    background-size: cover;
    background-position: center;
    padding: 100px 20px;
    text-align: center;
    color: black;
    background-image: url('carpool1.jpg');
    background-color: rgba(232, 108, 20, 0.283);
}

.hero-section h1 {
    font-size: 3em;
    margin-bottom: 10px;
}

.hero-section p {
    font-size: 1.5em;
    margin-bottom: 20px;
}

.cta-button {
    padding: 15px 30px;
    background-color: #007bff;
    color: white;
    border: none;
    margin-top: 40px;
    margin-left: 10px;
    cursor: pointer;
    font-size: 1em;
    border-radius: 5px;
}

.cta-button:hover {
    background-color: #0056b3;
}

/* Features Section */
.features-section {
    padding: 50px 20px;
    text-align: center;
    background-color: #fff;
}

.features-section h2 {
    font-size: 2.5em;
    margin-bottom: 40px;
}

.features-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
}

.feature-item {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.feature-item h3 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

/* Footer */
.footer {
    padding: 20px;
    background-color: #333;
    color: white;
    text-align: center;
}

.social-media-links a {
    margin: 0 10px;
    color: white;
    font-size: 1.2em;
}

.social-media-links a:hover {
    text-decoration: underline;
}
